body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin:0px;
}

a{
    color: #000000;
}
a:link a:active a:visited a:hover{
    color: #000000;
}

/* 超出部分隐藏 */
.divcenter{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}